@font-face {
  font-family: "GT Walsheim Pro";
  src: local("GT Walsheim Pro Regular"), local("GT-Walsheim-Pro-Regular"),
    url("./fonts/GTWalsheimPro-Regular.woff2") format("woff2"),
    url("./fonts/GTWalsheimPro-Regular.woff") format("woff"),
    url("./fonts/GTWalsheimPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "GT Walsheim Pro";
}

a {
  text-decoration: none;
}

.menu-item {
  color: #000000;
  transition: transform .5s ease-in-out, background .2s ease-in-out, color .2s ease-in-out;
}

.menu-item:hover {
  background: #000000;
  color: #FFFFFF;
  transform: scale(1.2);
}